:root {
    --lightblue: #f7f8fc;
    --darkgrey: #363740;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lightblue);
    display: grid;
    grid-template-columns: 15vw 1fr;
    font-family: 'Mulish', sans-serif;
}

main {
    height: 100vh;
}

/* Sidebar and its items */
.sidebar {
    background-color: ;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    padding: 1.5rem;
}

.logo-container {
    margin-bottom: 10px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
}

.sidebar-nav li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0.8rem;
    gap: 0.8rem;
}